.home-container {
    background-color: #242424; /* Consistent background */
    color: #ffffff; /* Text color */
    padding: 2rem;
    width: auto; /* Adjust based on context */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
