/* Assuming the same styling basis as login.css for consistency */
.reptile-container {
    background-color: #242424; /* Consistent background */
    color: #ffffff; /* Text color */
    padding: 2rem;
    width: auto; /* Adjust based on context */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container{
    background-color: #242424;
    width: 100%;
}

.reptile-container .form-control {
    background-color: #242424;
    color: #ffffff;
}

.reptile-container .form-control:focus {
    border-color: #556688;
}

.reptile-container .btn-primary {
    background-color: #ff3860; /* A vibrant color for delete buttons */
    border-color: #ff3860;
    align-self: end;
}
.row{
    width: 100%;
}

.reptile-container .btn-primary:hover {
    
    background-color: #ff5e85; /* A lighter shade for hover state */
    border-color: #ff5e85;
}

.reptile-container .form-control::placeholder {
    color: #ccc;
}

.reptile-container label {
    color: #ffffff;
}


/* Reptile.css */
.scrollable-list {
    max-height: 300px;
    overflow-y: auto;
    background-color: #242424;
}

.list-group-item {
    background-color: #333232;    
    color: white;
    border: 3px solid  rebeccapurple; /* Adds a subtle border for each item */
  }




  
  
.reptile-container .form-check-input:checked {
    background-color: #556688;
}

.reptile-container .form-check-label {
    color: #ffffff;
}

.reptile-container .btn-secondary {
    background-color: #444444;
    border-color: #333333;
    color: #ffffff;
}

.reptile-container .btn-secondary:hover {
    background-color: #555555;
    border-color: #444444;
}
